
  <div class="table-container">
    <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="staff">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell
        [ngClass]="'rowLabel'"
        [matTooltip]=" element[0]?.firstName + ' ' + element[0]?.lastName + ' Band:' + element[0]?.grade"
        *matCellDef="let element"
        > {{element[0]?.userName}} </td>
      </ng-container>
  
      <ng-container *ngFor="let i = index; let column of displayedColumns2" 
      matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef 
        [style.background-color]=" setBackgroundColourCell(i, 0 ) "> {{setAMorPM(i)}} </th>
        
        <td mat-cell 
        (click)="cellClicked(element[0],i)"
        [matMenuTriggerFor]="appMenu"
        [matMenuTriggerData]="{staff: element[0], col: i} "
        (menuClosed)="menuClosed()"
        [matTooltip]=" element[1][i]?.dutyType"
        [style.background-color]=" setBackgroundColourCell(i, element[0].staffId) "
        [ngClass]="isSelected(element[0].staffId, i) ? 'highlight' : 'notHighlight'" 
        *matCellDef="let element"> {{element[1][i]?.dutyCode}} </td>
      </ng-container>
  
      <!-- Header row first group -->
      <ng-container matColumnDef="h0">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
        
        </th>
      </ng-container>
  
      <!-- Header row  -->
      <ng-container *ngFor="let j = index; let columnH of headerRowDef2" 
      matColumnDef="{{columnH}}">
        <th mat-header-cell [style.background-color]=" setBackgroundColourHeader(j) "  
        *matHeaderCellDef [attr.colspan]="2">
        {{ headerRowDay[j] }} </th>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="headerRowDef"></tr>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  
    </table>
  
  </div>

  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-staff="staff" let-col="col">
      <span style="background-color:rgb(248, 229, 229)" >Select Duty for {{selectedUserDateStr}}</span>

      <button mat-menu-item
      *ngFor="let k = index; let duty of duties" 
      (click)="menuClick(staff, col, duty)"
      >{{duty.dutyType}}</button>
    </ng-template>
  </mat-menu>
