table {
    width: 100%;

  }


  .table-container {
    /* max-height: 300px;
    overflow: auto; */
    background-color: rgb(255, 170, 170)
  }

  .make-red {
    background-color: rgb(255, 170, 170)
}

.spacer {
  flex: 1 1 auto;
}

th.mat-header-cell {
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
}

 td.mat-cell {
  text-align: center;
  /* border: 1px solid #CCC; */
  padding: 0 !important;
}

.mat-header-row, .mat-row {
    min-height: 30px;
    height: 30px;
  }

  .mat-menu-item {
    height: 25px;
    line-height: 25px;
  }

  ::ng-deep  .mat-menu-panel {
    max-width: 400px !important;
  }

  .highlight {
    /* border: 2px   blue; */
border: 2px double blue;
  }

  .notHighlight {
    border: 1px solid #CCC;
  }

  .rowLabel {
    border: 1px solid #CCC;
  }

  ::ng-deep .mat-tooltip {
    font-size: 16px;
  }