<p>Select Staff for 
{{duty.dutyType}} on the {{dateStr}}</p>
<div mat-dialog-content>
    <mat-selection-list #list [(ngModel)]="selectedStaff">
      <mat-list-option *ngFor="let staff of data.staffList" [value]="staff.staffId"
      [matTooltip]=" staff.firstName + ' ' + staff.lastName + ' Band:' + staff.grade">
        {{staff.firstName}}
      </mat-list-option>
  </mat-selection-list>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="selectedStaff" cdkFocusInitial>Ok</button>
  </div>
