<mat-toolbar color="primary">
  <span>Shift Planner w/c:</span>
</mat-toolbar>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="staff">
      <th mat-header-cell *matHeaderCellDef> Staff </th>
      <td mat-cell *matCellDef="let element"> {{element.staff.username}} </td>
    </ng-container>

    <ng-container matColumnDef="day01am">
      <th mat-header-cell *matHeaderCellDef> AM </th>
      <td mat-cell *matCellDef="let element"> {{element.day01am.dutyCode}} </td>
    </ng-container>

    <ng-container matColumnDef="day01pm">
      <th mat-header-cell *matHeaderCellDef> PM </th>
      <td mat-cell *matCellDef="let element"> {{element.day01am.dutyCode}} </td>
    </ng-container>

    <ng-container matColumnDef="day02am">
      <th mat-header-cell *matHeaderCellDef> AM</th>
      <td mat-cell *matCellDef="let element"> {{element.day02am.dutyCode}} </td>
    </ng-container>

    <ng-container matColumnDef="day02pm">
      <th mat-header-cell *matHeaderCellDef> PM </th>
      <td mat-cell *matCellDef="let element"> {{element.day02am.dutyCode}} </td>
    </ng-container>


    <ng-container matColumnDef="day03am">
      <th mat-header-cell *matHeaderCellDef> AM</th>
      <td mat-cell *matCellDef="let element"> {{element.day03am.dutyCode}} </td>
    </ng-container>

    <ng-container matColumnDef="day03pm">
      <th mat-header-cell *matHeaderCellDef> PM </th>
      <td mat-cell *matCellDef="let element"> {{element.day03am.dutyCode}} </td>
    </ng-container>

    <!-- Header row first group -->
    <ng-container matColumnDef="h1">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">

      </th>
    </ng-container>

    <!-- Header row second group -->
    <ng-container matColumnDef="h2">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Mon </th>
    </ng-container>

    <!-- Header row third group -->
    <ng-container matColumnDef="h3">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Tue </th>
    </ng-container>

    <ng-container matColumnDef="h4">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Wed </th>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="['h1', 'h2', 'h3', 'h4']"></tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

</div>
