
  table {
    width: 100%;

  }


  .table-container {
    /* max-height: 300px;
    overflow: auto; */
    background-color: rgb(255, 170, 170)
  }

  .make-red {
    background-color: rgb(255, 170, 170)
}

.spacer {
  flex: 1 1 auto;
}