/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Temporary Styles */
.content {
    height: 500px;
    background-color: #eee;
  }
  .container-outer {
    border: solid 3px #ffc300;
    /* padding-left: 10px; */
  }
  .container {
    border: solid 3px #900c3f;
    padding: 10px;
  }
  .container-inner {
    border: solid 3px #ff5733;
    padding: 10px;
  }
  .container-element {
    border: solid 3px #c70039;
    padding: 10px;
  }