<mat-toolbar style="min-height:30px" color="primary">
    <span>Shift Planner w/c: </span>
      <!-- <mat-label>Choose start of week</mat-label> -->
      <input matInput class="dateInput"
      [matDatepickerFilter]="myFilter"
      [(ngModel)]="weekCommencing"
      [matDatepicker]="picker"
      [readonly]='true'
      (ngModelChange)='dateChanged(weekCommencing)'
      >
      <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
      <mat-datepicker #picker startView="month"></mat-datepicker>
      <button class="button-width" mat-raised-button (click)="picker.open()">Change Date</button>
      <button class="button-width" mat-raised-button  (click)="openSPDialog()">Select Staff</button>
      <button class="button-width" mat-raised-button  (click)="openDutyPickerDialog()">Select Duty</button>
     
      <span class="spacer"></span>
  </mat-toolbar>

<mat-tab-group>
  <mat-tab label="Staff View">
    <ng-template matTabContent>
        <app-rosta-staff></app-rosta-staff>
    </ng-template>
  </mat-tab>
  <mat-tab  label="Location View">
    <ng-template matTabContent>
     <app-rosta-location></app-rosta-location>
    </ng-template>
  </mat-tab>
</mat-tab-group>

