.mat-toolbar {
    min-height: 40px !important; 
    height: 40px !important;
  }
  
  .mat-toolbar-row {
    min-height: 30px !important; 
    height: 30px !important;
  }

  ::ng-deep .mat-tab-label {
    min-height: 30px !important; 
    height: 30px !important;
  } 

  .spacer {
    flex: 1 1 auto;
  }

 .button-width {
    width: 200px ;
    margin-left: 10px;
  }

  .dateInput {
    padding-left: 10px;
  }