<div class="table-container">
  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="duty">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell [ngClass]="'rowLabel'" *matCellDef="let element"> {{element[0]?.dutyType}} </td>
    </ng-container>

    <ng-container *ngFor="let i = index; let column of displayedColumns2" matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef [style.background-color]=" setBackgroundColourCell(i) ">
        {{setAMorPM(i)}} </th>

      <td mat-cell (click)="cellClicked(element[0],i,element[1][i])"
        
        [matTooltip]="getStaffArrayNames(element[1][i])"
        [style.background-color]=" setBackgroundColourCell(i) "
        [ngClass]="isSelected(element[0].dutyId, i) ? 'highlight' : 'notHighlight'" 
         *matCellDef="let element">
        {{getStaffArray(element[1][i])}} </td>
    </ng-container>

    <!-- Header row first group -->
    <ng-container matColumnDef="h0">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">

      </th>
    </ng-container>

    <!-- Header row  -->
    <ng-container *ngFor="let j = index; let columnH of headerRowDef2" matColumnDef="{{columnH}}">
      <th mat-header-cell [style.background-color]=" setBackgroundColourHeader(j) " *matHeaderCellDef
        [attr.colspan]="2">
        {{ headerRowDay[j] }} </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headerRowDef"></tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

</div>

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-duty="duty" let-col="col">
    <span>Edit Staff</span>

    <button mat-menu-item *ngFor="let k = index; let s of staff"
      (click)="menuClick(s, col, duty)">{{s.userName}}</button>
      
  </ng-template>
</mat-menu>
